@model PizzaOrderingManagementSystem.Models.Order

@{
    ViewData["Title"] = "Confirm";
}

<h1 class="text-white-50">Confirm</h1>

<div style="margin: 0 auto; width: 30rem">
    <div style="display: flex; justify-content:center">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Emal:</b> @Html.DisplayFor(model => model.UEmail)</li>
                <li class="list-group-item">
                    <b>Delivery charge:</b> @Html.DisplayFor(model => model.DeliveryCharge) $
                    <p>Delivery is free if total sum bigger than 50$</p>
                </li>
                <li class="list-group-item"><b>Phone:</b> @Html.DisplayFor(model => model.Phone)</li>
                <li class="list-group-item"><b>Address:</b> @Html.DisplayFor(model => model.Address)</li>
            </ul>
            <div class="card-body">
                <h5 class="card-title text-white-50">Total price: @Html.DisplayFor(model => model.Total) $</h5>

                <div style="display:flex; justify-content:space-between">
                    <form action="@Url.Action("Confirm", new{ confirm = true })" method="post"><input type="submit" class="btn btn-outline-success" value="Confirm" /></form>
                    <form action="@Url.Action("Confirm", new{ confirm = false  })" method="post"><input type="submit" class="btn btn-outline-success" value="Home page" /></form>
                </div>
            </div>
        </div>
    </div>
</div>