@model IEnumerable<PizzaOrderingManagementSystem.ViewModel.CartItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Order</h1>
<div style="display: flex; justify-content:space-between">
    <h3>Сonfirm your order </h3>
    @Html.ActionLink("Confirm", "Confirm", "Order", null, new { @class = "btn btn-primary" })
</div>
<hr />

<div style="margin: 0 auto; display: flex; flex-direction:column;">
    @foreach (var item in Model)
    {
        <div style="display: flex; margin: 0 auto; margin-bottom: 15px;">
            <div class="img">
                <img src="@item.Pizza.Picture" style="width:20rem;height:18rem" class="card-img" alt="...">
            </div>
            <div class="card" style="width:22rem;height:18rem">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="padding: 0.6rem 1.25rem"><b>Name:</b> @Html.DisplayFor(modelItem => item.Pizza.Name)</li>
                    <li class="list-group-item" style="padding: 0.6rem 1.25rem"><b>Crust:</b> @Html.DisplayFor(modelItem => item.Pizza.Crust)</li>
                    <li class="list-group-item" style="padding: 0.6rem 1.25rem"><b>Vegan:</b> @Html.DisplayFor(modelItem => item.Pizza.IsVeg)</li>
                    <li class="list-group-item" style="padding: 0.6rem 1.25rem"><b>Speciality:</b> @Html.DisplayFor(modelItem => item.Pizza.Speciality)</li>
                    <li class="list-group-item" style="padding: 0.6rem 1.25rem">
                        <b>Toppings:</b>
                        @foreach (var topping in item.Toppings)
                        {
                            <span>@Html.DisplayFor(modelItem => topping.Name) </span>
                            <span>@Html.DisplayFor(modelItem => topping.Price)$</span>
                        }
                    </li>
                    <li class="list-group-item">
                        <b>Price:</b>
                        @Html.DisplayFor(modelItem => item.Pizza.Price)$
                        <form style="width: 40px; display: inline-block; position: relative; left: 200px" action="@Url.Action("ItemDelete", new{ id = item.OrderDetailsId })" method="post">
                            <input type="submit" class="btn btn-outline-danger" value="&times" />
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    }
</div>