@model PizzaOrderingManagementSystem.ViewModel.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<hr />

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Login failed. Check your login details.");
    <div class="row" style="display:flex; justify-content:center">
        <fieldset>
            <div class="editor-label">
                @Html.LabelFor(u => u.Email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.Email)
                @Html.ValidationMessageFor(u => u.Email)
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(u => u.Password)
                @Html.ValidationMessageFor(u => u.Password)
            </div>
            <div style="display:flex;justify-content:space-between;margin-top:10px;">
                @Html.ActionLink("Register", "Register")
                <input type="submit" value="Log In" class="btn btn-primary" />
            </div>

        </fieldset>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}