@model PizzaOrderingManagementSystem.ViewModel.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1 class="text-white-50">   Login</h1>
<hr />

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Login failed. Check your login details.");
    <div class="row" style="display:flex; justify-content:center">
        <fieldset style="width:40em">
            @Html.ValidationMessageFor(u => u.Email, null, new { @class = "text-danger" })
            <div class="form-floating mb-3">
                @Html.TextBoxFor(u => u.Email, new { @class = "form-control", @id = "floatingInput", @placeholder = "name@example.com" })
                @Html.LabelFor(u => u.Email, new { @for = "floatingInput" })
            </div>
            <div class="form-floating mb-3">
                @Html.TextBoxFor(u => u.Password, new { @class = "form-control", @id = "floatingInput", @placeholder = "name@example.com" })
                @Html.LabelFor(u => u.Password, new { @for = "floatingInput" })
            </div>
            <div style="display:flex;justify-content:space-between;margin-top:10px;">
                <input type="submit" value="   Log In   " class="btn btn-outline-success" />
                @Html.ActionLink("Register", "Register", "Login", null, new { @class = "btn btn-outline-success" })
            </div>
        </fieldset>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}